/*!
 * HTML-Sheets-of-Paper (https://github.com/delight-im/HTML-Sheets-of-Paper)
 * Copyright (c) delight.im (https://www.delight.im/)
 * Licensed under the MIT License (https://opensource.org/licenses/MIT)
 */

@import "sheets-of-paper.css";

.page {
	font-family: default;
	width: 21cm;
	min-height: 29.7cm;

	padding-left: 5px;
	padding-top: 20px;
	padding-right: 5px;
	padding-bottom: 20px;
}
@page {
	size: A4 portrait;

	margin-left: 1cm;
	margin-top: 1cm;
	margin-right: 1cm;
	margin-bottom: 0cm;
}

.a4-limit {
	max-width: 700px;
    height: 1000px;
	margin: auto;
}

.calendar {
	width: 420px;
	margin-bottom: 35px;
}

.square {
	width: 32pt;
	height: 32pt;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(193, 193, 193);
	margin: 1px;
	display: inline-block;
	text-align: right;
    margin-right: 9.3px;
    margin-bottom: 22px;
}

.square-header {
	background: linear-gradient(180deg, rgb(193, 216, 47) 28%, white 28%);
}

.square-header-2 {
	background: linear-gradient(180deg, #739600 28%, white 28%);
}

.square-header-red {
	background: linear-gradient(180deg, rgb(230, 60, 47) 28%, white 28%);
}

.square-header-red-2 {
	background: linear-gradient(180deg, rgb(93, 17, 11) 28%, white 28%);
}

.text-center {
	text-align: center;
}

.footer {
	text-align: center;
	font-size: 14px;
}

.icon-note {
	margin-left: -11%;
	margin-top: 66%;
    float: left;
}

.email-block {
	color: #009fda;
	font-weight: 600;
	font-size: 14px;
	line-height: 41px;
    display: inline-block;
    margin-bottom: 30px;
	width: 28%;
    overflow-wrap: break-word;
}

.date-summary {
	display: inline-block;
	text-align: center;
    margin: auto;
    font-size: 14px;
	width: 41%;
	color: #5f5f5f;
}

.page-index {
    display: inline;
	text-align: right;
    font-size: 14px;
	color: #5f5f5f;
	width: 29%;
    float: right;
}

.page-index p {
	margin-top: 0.3cm;
    max-width: 235px;
    overflow-wrap: break-word;
}

.name-block {
	font-size: 17px;
	letter-spacing: -0.41px;
	font-weight: 600;
    margin-top: 12px;
}

.title-block {
	font-size: 13px;
	letter-spacing: 0.2px;
	line-height: 34px;
	color: #001965;
}

.day {
    display: table-cell;
    padding-top: 15px;
    padding-right: 4px;
    display: flow-root;
}

.unit-text {    
	font-size: 10px;    
	margin-left: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.unit-text-3 {    
	font-size: 10px;    
	margin-left: 7px;
    margin-bottom: -7px;
    margin-top: 5px;
}

.myChart {
	height: 144px;
}

.month-text {
    display: block;
	font-size: 10px;
	font-weight: 600;
    margin-top: -33px;
    margin-bottom: 4px;
    margin-left: -22px;
	text-transform: uppercase;
}

.takenPercent {
	font-size: 12px;
	letter-spacing: -0.29px;
	line-height: 19px;
	color: #5f5f5f;
}

.daily-dose-timing {
	font-size: 13px;
	letter-spacing: 0.2px;
	color: #001965;
}

.daily-dose-timing-block {
    display: inline-grid;
    width: 42%;
    margin-left: 6%;
}

.dose-timing {
	text-align: center;
	height: 50px;
	width: 257px;
	background-color: #efeff4;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.27px;
	line-height: 34px;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-top: 7px;
}

.priming {
	font-size: 10px;
	margin-left: 5px;
	letter-spacing: 0px;
	color: #5f5f5f;
}

.priming2 {
	font-size: 10px;
	letter-spacing: 0px;
	color: #5f5f5f;
}

.notes {
	overflow: hidden;
    max-width: 700px;
}

.iconNote {
	margin-right: 7.3px;
}

.note-date {
	max-height: 25px;
	height: 25px;
	margin-top: 23px;
	font-size: 12px;
	letter-spacing: -0.27px;
	color: #001965;
	overflow: hidden;
}

.note-content {
	margin-top: 9px;
	font-size: 10px;
    line-height: 14px;
	padding-left: 20px;
	overflow: hidden;
}

.note-chart-7-days {
    margin-left: 19px;
    margin-bottom: 5px;
}

.note-chart-7-days-2 {
	margin-left: 26px;
    margin-bottom: 5px;
}

.icon-note-mini-7-days {
	display: inline-table;
    margin-left: 28px;
}

.icon-note-mini-7-days-2 {
    display: inline-table;
    margin-left: 27px;
}

.note-chart-14-days {
	margin-left: 30px;
    margin-bottom: 5px;
	height: 20;
}

.note-chart-14-days-2 {
    margin-left: 36px;
    margin-bottom: 5px;
	height: 20;
}

.icon-note-mini-14-days {
	display: inline-table;
    margin-left: 6.2px;
}

.icon-note-mini-14-days-2 {
    display: inline-table;
    margin-left: 5.8px;
}

.block-95-p {
	max-width: 95%; 
	margin: auto;
}

.block-600-px {
	max-width: 650px; 
	margin: auto;
}

.note-chart-28-days {
	margin-left: 29px;
    margin-bottom: 5px;
}

.note-chart-28-days-2 {
	margin-left: 29px;
    margin-bottom: 5px;
}

.icon-note-mini-28-days {
	display: inline-table;
    margin-left: 8.47px;
}

.icon-note-mini-28-days-2 {
    display: inline-table;
    margin-left: 8.23px;
}

.dose-timing-chart-info {
	font-size: 11px;
	line-height: 16.5px;
}

.parallel-chart {
    position: absolute;
    margin-top: -152px;
}

.col-block {
	display: inline-grid;
	width: 49%;
    margin-left: -1.5%;
}

.col-block-duo-1 {
	display: inline-grid;
	width: 80%;
}

.col-block-duo-2 {
	display: inline-grid;
	width: 20%;
    margin-left: -48px;
}

.icon-error {
	margin-left: -11%;
	margin-top: 68%;
    float: left;
}